# Development
RUNNING_PORT=3000

# PostgreSQL
DATABASE_URL=postgresql://postgres:pass@localhost:5432/databasename

# Services
JWT_SECRET=yoursecrethere
MAILGUN_KEY=your-mailgun-key
LOG_IP_HASH_SECRET=yoursecrethere